<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>TaskManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>tms.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>tms.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTaskServlet</display-name>
    <servlet-name>AddTaskServlet</servlet-name>
    <servlet-class>tms.AddTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaskServlet</servlet-name>
    <url-pattern>/AddTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchTaskServlet</display-name>
    <servlet-name>FetchTaskServlet</servlet-name>
    <servlet-class>tms.FetchTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchTaskServlet</servlet-name>
    <url-pattern>/FetchTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskServlet</display-name>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>tms.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteTaskServlet</display-name>
    <servlet-name>CompleteTaskServlet</servlet-name>
    <servlet-class>tms.CompleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteTaskServlet</servlet-name>
    <url-pattern>/CompleteTaskServlet</url-pattern>
  </servlet-mapping>
</web-app>